# Backend
BACKEND_CORS_ORIGINS=["http://localhost", "http://localhost:4200", "http://localhost:3000", "http://localhost:8080", "https://localhost", "https://localhost:4200", "https://localhost:3000", "https://localhost:8080"]
PROJECT_NAME=LMS
SECRET_KEY=
# FIRST_SUPERUSER=
# FIRST_SUPERUSER_PASSWORD=
# SMTP_TLS=
# SMTP_PORT=
# SMTP_HOST=
# SMTP_USER=
# SMTP_PASSWORD=
# EMAILS_FROM_EMAIL=

# USERS_OPEN_REGISTRATION=

# SENTRY_DSN=

# Flower
# FLOWER_BASIC_AUTH=

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=lms

# PgAdmin
# PGADMIN_LISTEN_PORT=5050
# PGADMIN_DEFAULT_EMAIL=admin@demo-project.com
# PGADMIN_DEFAULT_PASSWORD=admin

FIRST_SUPERUSER=lms_diagnotech
FIRST_SUPERUSER_EMAIL=lms@diagnotech.com
FIRST_SUPERUSER_PASSWORD=lms_diagnotech
FIRST_SUPERUSER_FirstName=Diagno
FIRST_SUPERUSER_LastName=Tech
SQLALCHEMY_DATABASE_URI=postgresql://postgres:123456@db:5432/lms


PGADMIN_DEFAULT_EMAIL=lms@diagnotech.com
PGADMIN_DEFAULT_PASSWORD=lms_diagnotech


GOOGLE_APPLICATION_CREDENTIALS=/code/lms_credential.json
GOOGLE_STORAGE_BUCKET=medical_library


LANGFUSE_SECRET_KEY=sk-lf-afefc730-459a-41b6-9773-2ece6c40a14c
LANGFUSE_PUBLIC_KEY=pk-lf-e0df348c-847a-4dae-a138-1ff1ae32c480
LANGFUSE_HOST=https://cloud.langfuse.com

OPENAI_MODEL=gpt-4o-mini
OPENAI_API_KEY=

IS_DEV=True