# Backend
BACKEND_CORS_ORIGINS=["http://localhost", "http://localhost:4200", "http://localhost:3000", "http://localhost:8080", "https://localhost", "https://localhost:4200", "https://localhost:3000", "https://localhost:8080"]
PROJECT_NAME=LMS
SECRET_KEY=
# FIRST_SUPERUSER=
# FIRST_SUPERUSER_PASSWORD=
# SMTP_TLS=
# SMTP_PORT=
# SMTP_HOST=
# SMTP_USER=
# SMTP_PASSWORD=
# EMAILS_FROM_EMAIL=

# USERS_OPEN_REGISTRATION=

# SENTRY_DSN=

# Flower
# FLOWER_BASIC_AUTH=

# Postgres
POSTGRES_SERVER=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=



FIRST_SUPERUSER=
FIRST_SUPERUSER_EMAIL=
FIRST_SUPERUSER_PASSWORD=
FIRST_SUPERUSER_FirstName=
FIRST_SUPERUSER_LastName=
SQLALCHEMY_DATABASE_URI=


PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=